# Node
node_modules/
**/node_modules/
bin/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
turbo.log

# Build output
dist/
**/dist/
.vite/
.next/
out/
.vercel/output/
.vercel/cache/

# Env
.env*
.env.*.local

# IDE
.idea/
.vscode/
.DS_Store

# Turbo / Nx / Vercel cache
.turbo/
.cache/