@font-face {
    font-family: 'Rubik';
    src: url('https://mjdfreelanceclient.github.io/my-font-server/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.setup {

    font-family: Rubik, sans-serif;

    /* text-preset-tablet1 */
    /* Text Preset 1 - Rubik Medium - 48px - 110% Line Height - 0px Line Spacing */
    --font-family-tablet1: Rubik;
    --font-size-tablet1: 48px;
    --font-style-tablet1: normal;
    --font-weight-tablet1: 500;
    --line-height-tablet1: 110%; /* 52.8px */

    /* text-preset-7 */
    --font-family-7: Rubik;
    --font-size-7: 32px;
    --font-style-7: normal;
    --font-weight-7: 500;
    --line-height-7: 125%; /* 40px */

    /* text-preset-tablet2 */
    /* Text Preset 2 - Rubik Medium - 32px - 125% Line Height - 0px Line Spacing */
    --font-family-tablet2: Rubik;
    --font-size-tablet2: 32px;
    --font-style-tablet2: normal;
    --font-weight-tablet2: 500;
    --line-height-tablet2: 125%; /* 40px */
    --letter-spacing-tablet2: -0.1px;

    /* text-preset-1 */
    /* Text Preset 1 (Mobile) - Rubik Medium - 30px - 135% Line Height - 0px Line Spacing */
    --font-family-1: Rubik;
    --font-size-1: 30px;
    --font-style-1: normal;
    --font-weight-1: 500;
    --line-height-1: 135%; /* 40.5px */

    /* text-preset-mobile1 */
    --font-family-mobile1: Rubik;
    --font-size-mobile1: 24px;
    --font-style-mobile1: normal;
    --font-weight-mobile1: 500;
    --line-height-mobile1: 200%; /* 48px */

    /* text-preset-tablet3 */
    /* Text Preset 3 - Rubik Regular - 20px - 120% Line Height - 0.25px Line Spacing */
    --font-family-tablet3: Rubik;
    --font-size-tablet3: 20px;
    --font-style-tablet3: normal;
    --font-weight-tablet3: 500;
    --line-height-tablet3: 120%; /* 24px */
    --letter-spacing-tablet3: 0.25px;

    /* text-preset-4 */
    /* Text Preset 4 - Rubik Regular - 18px - 155% Line Height - 0px Line Spacing */
    --font-family-4: Rubik;
    --font-size-4: 18px;
    --font-style-4: normal;
    --font-weight-4: 400;
    --line-height-4: 155%; /* 27.9px */

    /* text-preset-8 */
    --font-family-8: Rubik;
    --font-size-8: 16px;
    --font-style-8: normal;
    --font-weight-8: 400;
    --line-height-8: 110%; /* 17.6px */
    --letter-spacing-8: 0.5px;

    /* text-preset-5 */
    /* Text Preset 5 (Regular) - Rubik Regular - 16px - 110% Line Height - 0.5px Line Spacing */
    --font-family-5: Rubik;
    --font-size-5: 16px;
    --font-style-5: normal;
    --font-weight-5: 400;
    --line-height-5: 110%; /* 17.6px */
    --letter-spacing-5: 0.5px;

    /* text-preset-2 */
    /* Text Preset 2 (Mobile, Regular) - Rubik Regular - 15px - 165% Line Height - 0px Line Spacing */
    --font-family-2: Rubik;
    --font-size-2: 15px;
    --font-style-2: normal;
    --font-weight-2: 400;
    --line-height-2: 165%; /* 24.75px */

    /* text-preset-mobile2 */
    /* Text Preset 2 (Mobile, Medium) - Rubik Medium - 15px - 200% Line Height - 0px Line Spacing */
    --font-family-mobile2: Rubik;
    --font-size-mobile2: 15px;
    --font-style-mobile2: normal;
    --font-weight-mobile2: 500;
    --line-height-mobile2: 200%; /* 30px */

    /* text-preset-9 */
    /* Text Preset 6 (SemiBold) - Rubik SemiBold - 14px - 300% Line Height - 5px Line Spacing */
    --font-family-9: Rubik;
    --font-size-9: 14px;
    --font-style-9: normal;
    --font-weight-9: 600;
    --line-height-9: 300%; /* 42px */
    --letter-spacing-9: 5px;

    /* text-preset-tablet6 */
    /* Text Preset 6 (Regular) - Rubik Regular - 14px - 200% Line Height - 0.25px Line Spacing */
    --font-family-tablet6: Rubik;
    --font-size-tablet6: 14px;
    --font-style-tablet6: normal;
    --font-weight-tablet6: 400;
    --line-height-tablet6: 200%; /* 28px */
    --letter-spacing-tablet6: 0.25px;

    /* text-preset-6 */
    /* Text Preset 6 (Medium) - Rubik Medium - 14px - 200% Line Height - 0.25px Line Spacing */
    --font-family-6: Rubik;
    --font-size-6: 14px;
    --font-style-6: normal;
    --font-weight-6: 500;
    --line-height-6: 200%; /* 28px */
    --letter-spacing-6: 0.25px;

    /* text-preset-3 */
    /* Text Preset 3 (Mobile) - Rubik Medium - 12px - 300% Line Height - 5px Line Spacing */
    --font-family-3: Rubik;
    --font-size-3: 12px;
    --font-style-3: normal;
    --font-weight-3: 500;
    --line-height-3: 300%; /* 36px */
    --letter-spacing-3: 5px;



}